* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #efefef;
  --border-color: rgb(149, 149, 149);
  --logo-first-color: #F8CB46;
  --logo-second-color: #54b226;
  --cart-bg-color: #0c831f;
  --btn-bg--first-color: #95cf7660;
  --btn-hover-color: #95cf76a8;
  --bg-color: #ffff;
  --cart2-bg-color:rgb(245, 247, 253);
}

html {
  font-size: 62.5%;
}
body::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  outline: none;
}



/* header section */

.header {
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100%;
  padding: 2rem 4.5rem;
  box-shadow: .5px .5px .5px 0.9px var(--text-color);
  max-width: 100%;
  position: fixed;
  background-color: var(--bg-color);
  height: 10rem;

}

.logo {
  text-decoration: none;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--logo-first-color);
}

.logo span {
  color: var(--logo-second-color);
}

/* navbar section */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 7rem;

}

/* nav address section */

.left-nav p {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: .4rem;
}

.left-nav span {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-address-container {
  position: relative;
}

.nav-address-box {
  position: absolute;
  border: .5px solid var(--border-color);
  width: 50rem;
  margin-top: 8rem;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  display: none;
}

.nav-address-box.active {
  display: block;
}

.nav-address-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.nav-address-title-box p {
  font-size: 1.5rem;
  font-weight: 400;
}

.address-location-box {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
  align-items: center;
}

.address-location-box .nav-choice-btn {
  border: .5px solid var(--border-color);
  padding: .6rem;
  border-radius: 50%;
  font-size: 1rem;
}

.address-location-box a {
  text-decoration: none;
  background-color: var(--cart-bg-color);
  padding: 1rem 0.7rem;
  color: var(--text-color);
  border-radius: .5rem;
}

.address-location-box input {
  width: 45%;
  height: 3rem;
  outline: none;
  border-radius: .5rem;
  border: .5px solid var(--border-color);
  padding: 0 1.5rem;
}

/* input section */

.mid-nav {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.mid-nav input {
  width: 100%;
  height: 4.5rem;
  border-radius: 1rem;
  outline: none;
  border: .5px solid var(--border-color);
  padding-left: 5rem;
  font-size: 2rem;
}

.mid-nav ::-webkit-input-placeholder {
  opacity: .5;
}

.mid-nav .bx-search {
  position: absolute;
  font-size: 2rem;
  opacity: .5;
  margin-left: 1.5rem;
  cursor: pointer;
}

.right-nav {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

/* login section */

.right-nav .login-btn {
  font-size: 2.5rem;
  background: var(--bg-color);
  font-weight: 400;
}


#cart-logo {
  font-size: 3rem;
  margin-right: 1rem;
}

.login-btn {
  position: relative;
  cursor: pointer;

}

.login-container {
  position: absolute;
  top: 500%;
  left: -1150%;
  width: 40rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: .5px solid var(--border-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  gap: .5rem;
}

.back-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-icon {
  width: 5rem;
  height: 5rem;
  margin-left: 45%;
  margin-bottom: 2rem;

}

.login-icon img {
  width: 100%;
  height: 100%;
}

.login-container .back-btn-box a {
  font-size: 2rem;
  color: rgb(150, 148, 148);
}

.login-input-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 30rem;
  gap: 2rem;
}

.login-input-box input {
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 3.5rem;
  font-weight: 300;
  width: 100%;
  border: .5px solid var(--border-color);
}

.login-input-box .login-submit-btn {
  width: 100%;
  border-radius: 1rem;
  background-color: #d4d2d2;
  height: 4.5rem;
  transition: .5s;
}

.login-input-box .login-submit-btn:hover {
  background-color: var(--text-color);
}

.login-input-box .login-submit-btn a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
  transition: .5s;
  width: 100%;
  height: 100%;
  line-height: inherit;
  color: rgb(36, 36, 36);
}

.login-box-para-container {
  margin-bottom: 2rem;
}

.login-box-para-container h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.login-box-para-container p {
  font-size: 2rem;
  font-weight: 350;
}

.login-box-bottom-links {
  margin-top: 3rem;
}

.login-box-bottom-links p {
  font-size: 1.5rem;
}

.login-container {
  display: none;
}

.login-container.active {
  display: block;
}

/* cart section */

.cart-container .cart-btn {
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--cart-bg-color);
  color: var(--text-color);
  transition: .5s;
}

.cart-container .cart-btn:hover {
  background-color: #128b26;
}

.cart-container .cart-btn span {
  font-size: 1.7rem;
}

.cart-container {
  position: relative;

}
.js-cart-items{
  background-color: var(--bg-color);
}

.cart-items-container{
  position:absolute;
  margin-top:635%;
  overflow: hidden;
  width:40rem;
  height:100vh;
  margin-left: -39rem;
  transform: translateX(150%);
  transition: 0.5s;
  background-color: var(--cart2-bg-color);
  z-index: 999;
  color: black;
  gap: 1rem;
  box-shadow: 1px 1px 5px .5px var(--border-color);
}
#js-cart-items{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height:80vh;
  overflow:scroll;
}
#js-cart-items::-webkit-scrollbar {
  display: none;
}

.cart-items-container.active {
  transform: translateX(37%);
}

.js-count-items p{
  font-size: 1rem;
}
.cart-item-nav{
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  padding: 1rem 3rem;
}
.cart-item-nav p{
  font-size: 2rem;
}
/* cart item css */
.cart-item-body{
  width: 35rem;
  height: 8rem;
  border: .1px solid var(--bg-color);
  display: grid;
  grid-template-columns:repeat(3,1fr);
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--bg-color);
  
}
.cart-item-img{
  height: 100%;
  border: 1px solid var(--text-color);
  overflow: hidden;
  border-radius: .5rem;
}
.cart-item-img img{
  height: 100%;
  border-radius: .5rem;
}
.cart-item-detele{
  margin-left:1rem;
  width: 10rem;
}
.cart-item-detele span{
  font-size:5px;
}
.cart-item-product-name{
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  

}
.cart-item-product-weight{
  margin-left: -6.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: .5rem;
}
.cart-item-product-price{
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: -7.5rem;
  
  
}
.cart-item-btn button{
  padding:.5rem 1rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-left: 35%;
  margin-top: 15%;
}

/* main section */

main {
  margin-top: 14rem;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: -999;

}

section {
  max-width: 140rem;
  width: 100%;
  margin-top: 1rem;
  margin: 0 10%;
  z-index: 999;
  height: 100;
  z-index: 999;

}

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.hero-section div img {
  width: 100%;
}

.Second-hero-thumnel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.Product-section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
  padding: 0 1rem;
  height: 100%;
  margin: 3rem 0;
}

/* product-item-section */
.product-item-section {
  width: 100%;
  margin: 5rem 0;
  padding: 1rem 0;
}

.product-item-title {
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  display: flex;
}

.product-item-title h3 {
  font-size: 2.5rem;
  font-weight: 800;

}

.product-item-title a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--cart-bg-color);
  font-weight: 600;
}

/* product item container */
#js-item {
  text-decoration: none;
  color: black;
}

.produst {
  width: 20rem;
  height: 29.5rem;
  border: .5px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0rem 0rem .5rem .5px var(--border-color);
}

.produst-body {
  width: 100%;
  height: 100%;
}

.product-img {
  height: 14rem;

}

.product-img img {
  width: 100%;
  height: 100%;
}

#or-price {
  text-decoration: line-through;
  opacity: .5;
  margin-left: 1rem;
}

.product-time-logo {
  height: 2rem;
  width: 7.5rem;
  background-color: var(--text-color);
  padding: 0 .5rem;
  margin-top: 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-time-logo img {
  width: 2rem;
  height: 2rem;
}

.product-time-logo div span {
  font-weight: 700;
}

.product-title,
.product-weight {
  margin-top: .5rem;
}

.product-title {
  font-size: 1.3rem;
}

.product-weight {
  font-size: 1.4rem;
  font-weight: 600;
}

.product-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Product-amount {
  font-size: 1.4rem;
  font-weight: 750;
  margin-top: .9rem;
}

.product-add-btn {
  width: 6.7rem;
  height: 3.2rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: .5rem;
  color: var(--cart-bg-color);
  background-color: var(--btn-bg--first-color);
  border: 1px solid var(--cart-bg-color);
}

.product-add-btn:hover {
  background-color: var(--btn-hover-color);
}

/* product-items-container */
#js-product-items-container1 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-items: center;
  gap: .5rem;
  padding: 0 3rem;
  overflow:scroll;
  position: relative;
}
#js-product-items-container1::-webkit-scrollbar{
  display: none;
}

/* item-next-btns-container */
.item-next-btns-container {
  display: flex;
  align-items: center;
  bottom: 15%;
  position: absolute;
  max-width: 100%;

}

.item-next-btns-container i {
  font-size: 3rem;
  background-color: var(--text-color);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 1px .5px var(--text-color);

}

.item-next-btns-container i:hover {
  background-color: var(--bg-color);
  box-shadow: 0px 0px 1px .5px var(--text-color);
}

.next-btn {
  margin-left: 130rem;


}

@media (max-width:1440px) {
  html {
    font-size: 55%;


  }

  .header {
    max-width: 1005;

  }
}

@media (max-width:1020px) {}

@media (max-width:1150px) {
  html {
    font-size: 40%;
  }

  .header {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 4rem;

  }

  .navbar {
    gap: 1rem;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0 1rem;
  }

  .cart-items-container.active {
    transform: translateX(-20%);
  }

}